.card1{
    position: absolute;
    left: 8%;
    top: 36%;
    
}

.card2{
    position: absolute;
    left: 38%;
    top:37%;
    
}

.card3{
    position: absolute;
    left: 8%;
    top:65%
    
}
.card4{
    position: absolute;
    left: 38%;
    top:65%
}

.card5{
    position: absolute;
    left: 68%;
    top:37%
}

#note{
    position: absolute;
    top: 30%;
    left: 32%;
    width: 40%;
    
}
#but{
    position: absolute;
    top: 29%;
    left: 94%;
    background-color: rgb(250, 153, 118);
    border: none;
    border-radius: 4px ;
    height: 4%;
    cursor: pointer
}

.container{
    position: absolute;
    left: 10%;
    top: 40%;
}
#upbut{
    border: none;
    background-color: rgb(250, 153, 118);
    border-radius: 4px ;
    height: 4%;
    cursor: pointer
}