.card1{
    position: absolute;
    left: 8%;
    top: 26%;
}

.card2{
    position: absolute;
    left: 38%;
    top:37%;
    
}

.card3{
    position: absolute;
    left: 8%;
    top:65%
    
}
.card4{
    position: absolute;
    left: 38%;
    top:65%
}

.card5{
    position: absolute;
    left: 68%;
    top:37%
}

#note{
    position: relative;
    left: 70%;
}
#but{
    position: absolute;
    top: 96%;
    background-color: rgb(250, 153, 118);
    border: none;
    border-radius: 4px ;
    height: 4%;
    cursor: pointer
}