.navs{
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 1px solid #000000;
    background-color: rgb(250, 153, 118);
    
    

    /* overflow: hidden;
    position: fixed;
    width: 100%; */
    
}

.navItem{
    padding-left: 16%;
    
    font-size: x-large;
    

}
.links{
    text-decoration: none;
    color: black;
}
.logo{
    padding-left: 34%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: x-large;
    
}
.moto{
    padding-left: 33%;
    margin-bottom: 1%;
    
}

.bgimage{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text{
    position: absolute;
    left: 170%;
    /* top: 40%; */
    width: 350%;
    height: 20%;
    font-size: 1.2em;
    /* border: 1px solid black; */
    border-radius: 8px 8px;
    color: beige;
       
}
.txt{
   margin-top: 30%;
   
}
#buts{
 position: absolute;
 left: 14%;
 
 
}
.bt{
    border: 0ch;
    /* font-size: x-large; */
    cursor: pointer;
        /* border: 1px solid #3498db; */
        background-color: transparent;
        height: 50px;
        width: 200px;
        color: black;
        font-size: 1.0em;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        
}
.summary{
    position: absolute;
    top: 88%;
    left: 4%;
    color: rgb(255, 254, 254);
}
#im{
    position: absolute;
    top: 160%;
}

.state{
    color: orangered
}

